{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for data in list %}
    <tr>
      <th scope="row">{{ data.id }}</th>
      <td>{{ data.title }}</td>
      <td>{{ data.content }}</td>
      <td>
        <a class="btn btn-warning" href="{{ path('update',{'id': data.id }) }}">Update</a>
        <a class="btn btn-danger" href="{{ path('delete',{'id': data.id }) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
